.js-kubernetes-logs{ data: environment_logs_data(@project, @environment) }
  .build-page-pod-logs
    .build-trace-container.prepend-top-default
      .top-bar.js-top-bar.d-flex
        .row
          .form-group.col-6{ role: 'group' }
            %label.d-block.pt-0.col-form-label-sm.col-form-label
              = s_('Environments|Environment')
            .dropdown.js-environment-dropdown.d-flex
              %button.dropdown-menu-toggle.d-flex.align-content-center.align-self-center{ type: 'button', data: { toggle: 'dropdown' }, 'aria-expanded': false }
                = icon('chevron-down')
                .dropdown-toggle-text
                  = "&nbsp;".html_safe
              .dropdown-menu.dropdown-menu-selectable.dropdown-menu-drop-up
          .form-group.col-6{ role: 'group' }
            %label.d-block.pt-0.col-form-label-sm.col-form-label
              = s_('Environments|Pod logs from')
            .dropdown.js-pod-dropdown.d-flex
              %button.dropdown-menu-toggle.d-flex.align-content-center.align-self-center{ type: 'button', data: { toggle: 'dropdown' }, 'aria-expanded': false }
                = icon('chevron-down')
                .dropdown-toggle-text
                  = "&nbsp;".html_safe
              .dropdown-menu.dropdown-menu-selectable.dropdown-menu-drop-up
        .controllers.align-self-end
          .has-tooltip.controllers-buttons{ title: _('Scroll to top'), data: { placement: 'top', container: 'body'} }
            %button.js-scroll-up.btn-scroll.btn-transparent.btn-blank{ type: 'button', disabled: true }
              = custom_icon('scroll_up')
          .has-tooltip.controllers-buttons{ title: _('Scroll to bottom'), data: { placement: 'top', container: 'body'} }
            %button.js-scroll-down.btn-scroll.btn-transparent.btn-blank{ type: 'button', disabled: true }
              = custom_icon('scroll_down')
          .refresh-control
            .has-tooltip.controllers-buttons{ title: _('Refresh'), data: { placement: 'top', container: 'body'} }
              %button.js-refresh-log.btn.btn-default.btn-refresh.h-32-px{ type: 'button', disabled: true }
                = sprite_icon('retry')

      = render 'shared/builds/build_output'
